{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
  <h1 class="title">התחברות</h1>

  {% if error %}
    <p class="muted" style="color:#b00020; font-weight:700;">
      {{ error }}
    </p>
  {% endif %}

  <form method="post" class="form" action="{{ url_for('login') }}">
    <label class="label" for="national_id">ת"ז</label>
    <input class="input" id="national_id" name="national_id" required>

    <label class="label" for="role">תפקיד</label>
    <select class="input" id="role" name="role" required>

      <option value="student"
        {% if role_prefill =='student' %}selected{% endif %}>
        student
      </option>

      <option value="lecturer"
        {% if role_prefill =='lecturer' %}selected{% endif %}>
        lecturer
      </option>

      <option value="staff"
        {% if role_prefill =='staff' %}selected{% endif %}>
        staff
      </option>

    </select>

    <label class="label" for="password">סיסמה</label>
    <input class="input" id="password" type="password" name="password" required>

    <button class="btn" type="submit">התחבר</button>
  </form>

  <p class="muted">
    אין משתמש?
    <a class="link" href="{{ url_for('register', role=role_prefill) }}">להרשמה</a>
  </p>
{% endblock %}
